body {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f5e7;
  color: #a7727d;
}

p {
  line-height: 2;
}

input {
  text-align: center;
  margin: 3px 0;
}

.container-fluid {
  padding: 2% 9%;
}

#heading {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.text {
  padding: 1rem 0;
}

/* NAVIGATION BAR  */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  color: #a7727d;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
  color: #a7727d;
}

.btn {
  margin: 3px 0;
}
